$primary: #3f51b5;
$primary-contrast: #fff;

:host {
  display: grid;
  grid-gap: 16px;

  & > .header {
    display: flex;
    justify-content: space-between;
    background: $primary;
    color: $primary-contrast;
    padding: 16px;
  }

  & > .header > .brand {
    font-size: 22px;
    font-weight: bolder;
  }

  & > .content {
    margin: 0 16px;
  }

}
