<ul class="list">
  <li
    *ngFor="let todo of todos; trackBy: trackByFn"
    class="item"
    [class.-done]="todo.done">
    <div class="info">
      <span class="title">{{ todo.title }}</span>
      <span class="date">{{ todo.finishDate | date:'fullDate' }}</span>
    </div>
    <div class="actions">
      <button
        *ngIf="!todo.done"
        mat-button
        color="primary"
        (click)="finish(todo.id)">Done</button>
      <button
        *ngIf="todo.done"
        mat-button
        color="warn"
        (click)="remove(todo.id)">Remove</button>
    </div>
  </li>
</ul>
